html,body {
	background-color:black;
	height: 100%;
	display: grid;
	font: white;
}
#link1
{
	font-family: tahoma;
	font-size: 2vw; 
}
#div1
{
	font-family:verdana;
	color:white;
	font-size: 4vw;

}
#note {
	color: black;
	font-family:verdana;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
img { max-width: 100%; }

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}
.box
{
	background-color: white;
	border-radius: 25px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	width:90%;
	margin: auto;
	font-size: 1.89vw;
	display: grid;
}

footer
{
	font-size: 1.5vw;
}